<div style="height: 100%" class="ui middle aligned grid ">
  <div class="column">
    <div style="max-width: 400px; margin-top: 0px" class="ui fluid centered card">
      <div class="image">
        <img src="{{ site.data.bio.basics.picture }}">
      </div>

      <div class="center aligned content">
        <span class="header">{{ site.data.bio.basics.name }}</span>
        <div class="meta">
          <span class="date">{{ site.data.bio.basics.label }}</span>
        </div>

        <!-- Summary Section with Header -->
        <div class="left aligned description" style="margin-top: 15px;">
          <h4>Summary</h4>
          <p>{{ site.data.bio.basics.summary }}</p>
        </div>
      </div>

      <!-- Interests Section with Padding and Header -->
      <div class="center aligned content" style="margin-top: 15px;">
        <h4>Interests</h4>
        <p class="description">
          {% for interest in site.data.bio.interests %}
            {{ interest.name }}{% if forloop.last != true %}, {% endif %}
          {% endfor %}
        </p>
      </div>

      <div class="center aligned extra content">
        {% include home-network-links.html %}
      </div>
      <div class="center aligned content">
        <a href="{{ site.baseurl}}/projects/">
          <button class="ui basic button">Projects ({{ num_projects }})</button>
        </a>
        <a href="{{ site.baseurl}}/bio/">
          <button class="ui basic button">{{ site.bio-page-label }}</button>
        </a>
      </div>
    </div>
  </div>
</div>
