<div style="margin-top: 10px; " class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.resumejp.basics.name }}</h2>
  </div>

  <div class="eight wide left aligned column">
    {% include resumejp-network-links.html %}
  </div>

  <div class="eight wide right aligned column">
    {% include resumejp-address.html %}
  </div>
</div>

<div style="margin-bottom: 20px" class="ui stackable grid container">
  {% include resumejp-interests-1.html %}
  {% include resumejp-skills-1.html %}
  {% include resumejp-education-1.html %}
  {% include resumejp-work-1.html %}
  {% include resumejp-volunteer-1.html %}
  {% include resumejp-publications-1.html %}
  {% include resumejp-awards-1.html %}
  {% include resumejp-references-1.html %}
</div>
