<div style="margin-top: 10px; margin-bottom: 20px" class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.resumejp.basics.name }}</h2>
  </div>

  <div class="eight wide left aligned column">
    {% include resumejp-network-links.html %}
  </div>

  <div class="eight wide right aligned column">
    {% include resumejp-address.html %}
  </div>

  {% include resumejp-education-2.html %}
  {% include resumejp-work-2.html %}
  {% include resumejp-volunteer-2.html %}
  {% include resumejp-publications-2.html %}
  {% include resumejp-awards-2.html %}
</div>