{% if site.data.bio.basics.summary %}
<section id="summary">
  <h2>Summary</h2>
  <p>{{ site.data.bio.basics.summary }}</p>
</section>
{% endif %}

{% if site.data.bio.work %}
<section id="work">
  <h2>Experience</h2>
  {% for entry in site.data.bio.work %}
  <div class="job">
    <h3>{{ entry.position }}, {{ entry.company }}</h3>

    {% if entry.website %}
    <p><a href="{{ entry.website }}">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>
    {% endif %}

    {% if entry.startDate or entry.endDate %}
    <p>
      <em>
        {% if entry.startDate %}{{ entry.startDate | slice: 0, 4 }}{% endif %}
        {% if entry.startDate and entry.endDate %} - {% endif %}
        {% if entry.endDate %}
          {% if entry.endDate != "Present" %}
            {{ entry.endDate | slice: 0, 4 }}
          {% else %}
            {{ entry.endDate }}
          {% endif %}
        {% endif %}
      </em>
    </p>
    {% endif %}

    {% if entry.summary %}
    <ul>
      {% assign lines = entry.summary | split: '\n' %}
      {% for line in lines %}
        {% if line != "" %}
        <li>{{ line | remove: "• " }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    {% if entry.highlights and entry.highlights.size > 0 %}
    <ul>
      {% for highlight in entry.highlights %}
      <li>{{ highlight }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endif %}
