<!DOCTYPE html>
<html data-theme="">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css">
{% include head.html %}
<body>
  <div class="sidebar-nav">
    <img class="profile" src="{{ site.data.bio.basics.picture }}" alt="Profile">
    <a href="{{ site.baseurl }}/"><i class="fas fa-home"></i><span class="label">Home</span></a>
    <a href="{{ site.baseurl }}/projects"><i class="fas fa-th-large"></i><span class="label">Projects</span></a>
    <a href="{{ site.baseurl }}/resume"><i class="fas fa-file-alt"></i><span class="label">Resumes</span></a>
  </div>

  <main>
    <div class="main-content">
    {{ content }}
    </div>
  </main>
</body>
</html>